<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring3-3.dtd">
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="admin/fragments :: header">
    <script src="../../../resources/libraries/jquery/jquery-1.9.1.min.js"></script>
    <script src="../../../resources/libraries/thymol/thymol.js"></script>
</head>
<script th:src="@{/resources/text.js}" src="../../../resources/text.js"></script>

<body>
<div class="container">
    <div class="row-fluid">
        <div class="span12">
            <div th:include="admin/fragments :: top-bar"></div>
            <div th:include="admin/fragments :: breadcrumbs"></div>
            <button type="button" id="switch" class="btn" onclick="switchView()">Text/HTML</button>
            <form><textarea id="code" name="code" th:text="${documentText}"></textarea>
            </form>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span11">
            <button type="button" id="discard" class="btn" onclick="discardText()">Discard</button>
            <button type="button" id="save" class="btn btn-success" onclick="saveData()">Save</button>
            <div id="upload" class="btn">
                <i class="icon-upload"></i> Upload
            </div>
            <button type="button" id="delete" class="btn btn-danger" onclick="deleteDocument(currentDocument.id, currentDocument.name, false, navigateToParent)"><i class="icon-remove"></i> Delete</button>
        </div>
        <div class="span1 preview">
            <a href="#" th:href="@{${document.path}}">Preview</a>
        </div>
        <div class="span5" th:include="admin/fragments :: upload-progress"></div>
    </div>

</div>

<script th:include="admin/fragments :: initialize" th:inline="javascript"></script>

<script th:inline="javascript">
    /*<![CDATA[*/
    var editorMode = /*[[${document.mimeType}]]*/ null;
    var area, codeMirror;
    /*]]>*/

    $(document).ready(function() {
        switchView();
    });

    function switchView() {

        if(!area) {
            if (codeMirror != null) codeMirror.toTextArea();
            area = new nicEditor({fullPanel : true}).panelInstance('code',{hasPanel : true});
            area.addEvent('focus', function() {
                $('#discard').attr('disabled', false);
            });
        } else {
            area.removeInstance('code');
            area = null;
            codeMirror = initializeEditor(editorMode);
        }
    }

    function saveData() {
        var text;
        if (nicEditors.findEditor('code') != null) {
            text = nicEditors.findEditor('code').nicInstances[0].getContent();
        } else {
            text = editor.getValue();
        }
        saveText(text, currentDocument.id)
    }

</script>


<script th:src="@{/resources/libraries/codemirror/lib/codemirror.js}" src="../../../resources/libraries/codemirror/lib/codemirror.js"></script>
<script th:src="@{/resources/libraries/codemirror/mode/xml/xml.js}" src="../../../resources/libraries/codemirror/mode/xml/xml.js"></script>
<script th:src="@{/resources/libraries/codemirror/mode/javascript/javascript.js}" src="../../../resources/libraries/codemirror/mode/javascript/javascript.js"></script>
<script th:src="@{/resources/libraries/codemirror/mode/css/css.js}" src="../../../resources/libraries/codemirror/mode/css/css.js"></script>
<script th:src="@{/resources/libraries/codemirror/mode/vbscript/vbscript.js}" src="../../../resources/libraries/codemirror/mode/vbscript/vbscript.js"></script>
<script th:src="@{/resources/libraries/codemirror/mode/htmlmixed/htmlmixed.js}" src="../../../resources/libraries/codemirror/mode/htmlmixed/htmlmixed.js"></script>
<script th:src="@{/resources/libraries/nicEdit/nicEdit.js}" src="../../../resources/libraries/nicEdit/nicEdit.js" type="text/javascript"></script>

</body>
</html>